@charset "UTF-8";
/*
*  Los archivos que empiezan con ' _ ' no son escuchados por
*  el compilador, por eso solo se compila el archivo main.scss
*  y se genera un único archivo: main.css.
*  Esto puedes cambiarlo a tu gusto y generar varios archivos.
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal; }

body {
  margin: 0; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.main_container {
  width: 100%;
  background-color: #ffffff; }
  .main_container .main_wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    border: 2px solid salmon; }
    @media screen and (max-width: 992px) {
      .main_container .main_wrapper {
        border: 2px solid darkblue; } }
    @media screen and (max-width: 768px) {
      .main_container .main_wrapper {
        border: 2px solid springgreen;
        flex-direction: column; } }
    .main_container .main_wrapper .main_text {
      padding: 0 0 0 3rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media screen and (max-width: 768px) {
        .main_container .main_wrapper .main_text {
          padding: 3rem 2rem 3rem 2rem; } }
      .main_container .main_wrapper .main_text h3 {
        font-size: 2.5rem;
        font-family: "Times New Roman", Times, serif;
        color: #D9D9D9;
        margin-bottom: 0.3rem; }
      .main_container .main_wrapper .main_text h4 {
        font-size: 68px;
        font-family: "Lobster", cursive;
        font-weight: 200;
        color: #332f29;
        margin-bottom: 0.3rem; }
      .main_container .main_wrapper .main_text p {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        color: #111111; }
    .main_container .main_wrapper .main_img {
      flex: 1; }
      .main_container .main_wrapper .main_img .img_items {
        padding: 4rem;
        display: flex;
        gap: 16px;
        flex-direction: column; }
        @media screen and (max-width: 992px) {
          .main_container .main_wrapper .main_img .img_items {
            padding: 2.5rem; } }
        @media screen and (max-width: 768px) {
          .main_container .main_wrapper .main_img .img_items {
            padding: 4rem; } }
        @media screen and (max-width: 420px) {
          .main_container .main_wrapper .main_img .img_items {
            padding: 1rem; } }
        .main_container .main_wrapper .main_img .img_items img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .main_container .main_wrapper .main_img .img_items .img_item-1 {
          border: mediumblue 1px solid;
          display: flex; }
          .main_container .main_wrapper .main_img .img_items .img_item-1 .img_1 {
            flex: 7; }
            @media screen and (max-width: 768px) {
              .main_container .main_wrapper .main_img .img_items .img_item-1 .img_1 {
                flex: 1; } }
          .main_container .main_wrapper .main_img .img_items .img_item-1 .img_span {
            flex: 3; }
            @media screen and (max-width: 768px) {
              .main_container .main_wrapper .main_img .img_items .img_item-1 .img_span {
                flex: 0;
                display: none; } }
        .main_container .main_wrapper .main_img .img_items .img_item-2 {
          border: springgreen 1px solid;
          display: flex;
          gap: 16px; }
          .main_container .main_wrapper .main_img .img_items .img_item-2 .img_2 {
            flex: 1; }
          .main_container .main_wrapper .main_img .img_items .img_item-2 .img_3 {
            flex: 1; }

.about_container {
  background-color: #e3dcd2;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .about_container .about_wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    border: solid 1px olive; }
    @media screen and (max-width: 768px) {
      .about_container .about_wrapper {
        flex-direction: column; } }
    .about_container .about_wrapper .about_img {
      flex: 3;
      padding: 0 0 0 3rem;
      min-height: 520px; }
      @media screen and (max-width: 768px) {
        .about_container .about_wrapper .about_img {
          min-height: initial;
          padding: 3rem;
          padding-bottom: 1rem; }
          .about_container .about_wrapper .about_img img {
            height: 250px; } }
      @media screen and (max-width: 420px) {
        .about_container .about_wrapper .about_img {
          padding: 1.5rem; } }
    .about_container .about_wrapper .about_content {
      flex: 7;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media screen and (max-width: 420px) {
        .about_container .about_wrapper .about_content {
          padding: 1.5rem; } }
      .about_container .about_wrapper .about_content h3 {
        font-size: 2.5rem;
        font-family: "Times New Roman", Times, serif;
        color: #ffffff;
        margin-bottom: 0.3rem; }
      .about_container .about_wrapper .about_content h4 {
        font-size: 68px;
        font-family: "Lobster", cursive;
        font-weight: 200;
        color: #332f29;
        margin-bottom: 0.3rem; }
      .about_container .about_wrapper .about_content p {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        color: #111111; }
