
$font-title: 'Lobster', cursive;
$font-text: 'Open Sans', sans-serif;
$font-sub-title: 'Times New Roman', Times, serif;

$bg-color-1: #ffffff;
$bg-color-2: #e3dcd2;
$bg-color-3: #332f29;

$font-color: #ffffff;
$font-color-title: #332f29;
$font-color-sub: #D9D9D9;
$font-color-text: #111111;

$max-width: 1140px;
$breakpoint-lg:  992px;
$breakpoint-md:  768px;
$breakpoint-sm:  576px;
$breakpoint-mb:  420px;