/*
*  Los archivos que empiezan con ' _ ' no son escuchados por
*  el compilador, por eso solo se compila el archivo main.scss
*  y se genera un único archivo: main.css.
*  Esto puedes cambiarlo a tu gusto y generar varios archivos.
*/

// Configuración inicial
@import 'init';

// Variables
@import 'variables';

// Componentes

@import 'components/footer';
@import 'components/mainSection';
@import 'components/about';
@import 'components/services';
@import 'components/products';
@import 'components/greeting';
@import 'components/contact';

