.contact_container {
  width: 100%;
  background-image: url("../../assets/contact.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  .contact_wrapper {
    max-width: $max-width;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }

    @media screen  and (max-width: $breakpoint-sm){
        padding: 1rem;
    }

    .contact_content {
      width: 50%;
      @media screen and (max-width: $breakpoint-md) {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen  and (max-width: $breakpoint-sm){
        align-items: center;
    }

      h3 {
        font-size: 2.5rem;
        font-family: $font-sub-title;
        color: #c0c0c0;
        margin-bottom: -2rem;
      }

      h4 {
        font-size: 68px;
        font-family: $font-title;
        font-weight: 200;
        color: $font-color-title;
      }

      p {
        text-align: start;
        font-size: 14px;
        font-family: $font-text;
        color: $font-color-text;
      }
    }

    .contact_imgs {
      width: 50%;
      @media screen and (max-width: $breakpoint-md) {
        width: 100%;
      }
      padding: 1rem;
      @media screen  and (max-width: $breakpoint-mb){
        padding: 0;
        margin-top: 2rem;
    }

      .img_items {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .img_1 {
          display: flex;
          .span_1 {
            flex: 3;
            @media screen  and (max-width: $breakpoint-sm){
                display: none;
            }
          }
          img {
            flex: 7;
            max-height: 250px;
          }
        }

        .img_2 {
          display: flex;
          .span_2 {
            flex: 4;
            @media screen  and (max-width: $breakpoint-sm){
                display: none;
            }
          }
          img {
            flex: 7;
            max-height: 250px;

          }
        }
      }
    }
  }
}
