.footer_container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-3;

    h2 {
        font-family: sans-serif;
        color: $font-color;
        font-weight: 200;
        font-size: 18px;
    }
}   