.main_container {
  width: 100%;
  background-color: $bg-color-1;

  .main_wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: $breakpoint-lg) {
    }
    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }

    .main_text {
      padding: 0 0 0 3rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @media screen and (max-width: $breakpoint-md) {
        padding: 3rem 2rem 3rem 2rem;
      }

      h3 {
        font-size: 2.5rem;
        font-family: $font-sub-title;
        color: $font-color-sub;
        margin-bottom: 0.3rem;
      }

      h4 {
        font-size: 68px;
        font-family: $font-title;
        font-weight: 200;
        color: $font-color-title;
        margin-bottom: 0.3rem;
      }

      p {
        font-size: 14px;
        font-family: $font-text;
        color: $font-color-text;
      }
    }

    .main_img {
      flex: 1;

      .img_items {
        padding: 4rem;
        display: flex;
        gap: 16px;
        flex-direction: column;
        @media screen and (max-width: $breakpoint-lg) {
          padding: 2.5rem;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding: 4rem;
        }
        @media screen and (max-width: $breakpoint-mb) {
          padding: 1rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .img_item-1 {
          display: flex;

          .img_1 {
            flex: 7;
            @media screen and (max-width: $breakpoint-md) {
              flex: 1;
            }
          }
          
          .img_span {
            flex: 3;
            @media screen and (max-width: $breakpoint-md) {
              flex: 0;
              display: none;
            }
          }
        }

        .img_item-2 {
          display: flex;
          gap: 16px;
          .img_2 {
            flex: 1;
          }

          .img_3 {
            flex: 1;
          }
        }
      }
    }
  }
}


